@import 'src/theme-colors';

.list-container {
	display: flex;
	flex-direction: column;
	min-width: 240px;
	width: 20vw;
	min-height: 60vh;
	height: 100%;
	background-color: $theme-bg;
	padding: 5px;
	overflow-x: hidden;
	overflow-y: scroll;

	.feeder-item:not(:first-child) {
		margin-top: 5px;
	}
}