<button class="back-btn" *ngIf="loginStep !== 'login'" mat-icon-button (click)="goToPreviousStep()">
    <mat-icon>arrow_back</mat-icon>
</button>
<div class="modal-container">
	<!-- <h1 class="modal-title">HomeUI</h1> -->
	<!-- <ng-container [ngSwitch]="loginFlow">
		<ng-template [ngSwitchCase]="'login'">
			<app-login-start></app-login-start>
		</ng-template>
		<ng-template [ngSwitchCase]="'resetPassword'">
			<app-password-reset></app-password-reset>
		</ng-template>
		<ng-template [ngSwitchCase]="'qrCode'">
			<app-mfa-qr></app-mfa-qr>
		</ng-template>
		<ng-template [ngSwitchCase]="'mfaLogin'">
			<app-mfa-code></app-mfa-code>
		</ng-template>
		<ng-template *ngSwitchDefault>
			<p>????????</p>
		</ng-template>
	</ng-container> -->
	<router-outlet name="auth"></router-outlet>
</div>