<div class="center-column">
	<h1 class="login-modal-title">Update Password</h1>
    <p class="login-instructions">Please update your password.</p>
	<mat-form-field>
		<mat-label>Password</mat-label>
		<span matPrefix class="field-icon">
			<mat-icon>lock</mat-icon>
		</span>
		<input class="login-field" matInput type="password" name="password" [formControl]="password">
	</mat-form-field>
	<mat-form-field>
		<mat-label>Confirm Password</mat-label>
		<span matPrefix class="field-icon">
			<mat-icon>lock</mat-icon>
		</span>
		<input class="login-field" matInput type="password" name="confirmPassword" [formControl]="confirmPassword">
	</mat-form-field>
	<app-loading-button text="Login" (buttonClick)="submitUpdatePassword()" [buttonDisabled]="password.invalid && confirmPassword.invalid"></app-loading-button>
    <mat-error class="login-error" *ngIf="password.value !== confirmPassword.value && password.dirty && confirmPassword.dirty">Passwords do not match</mat-error>
</div>