<div class="center-column">
	<h1 class="login-modal-title">Reset Password</h1>
	<p class="login-instructions">Enter your username and we'll send you an email to reset your password.</p>
	<mat-form-field>
		<mat-label>Username</mat-label>
		<span matPrefix class="field-icon">
			<mat-icon>person</mat-icon>
		</span>
		<input class="login-field" matInput type="text" name="username" [(ngModel)]="username" (keydown.enter)="submitUsername()">
	</mat-form-field>
	<!-- <button mat-raised-button class="login-btn" (click)="submitUsername()">Submit</button> -->
	<app-loading-button text="Submit" (buttonClick)="submitUsername()" [buttonDisabled]="username.length < 1"></app-loading-button>
</div>