<div class="center-column">
	<h1 class="login-modal-title">Reset Password</h1>
	<p class="reset-instructions">Enter your username and we'll send you an email to reset your password.</p>
	<mat-form-field>
		<mat-label>Username</mat-label>
		<span matPrefix class="field-icon">
			<mat-icon>person</mat-icon>
		</span>
		<input class="login-field" matInput type="text" name="username" [(ngModel)]="username">
	</mat-form-field>
	<button mat-raised-button class="login-btn" (click)="submit()">Submit</button>
</div>