@use 'src/partials';
@import 'src/theme-colors';

mat-toolbar {
	background-color: $theme-bg-light;

	.toolbar-content {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		width: 100%;
		align-items: center;
		background-color: $theme-bg-light;

		.toolbar-title {
			display: flex;
			flex-direction: row;
			align-items: center;
		}
	}
}