@use 'src/partials';
@import 'src/theme-colors';

:host {
	min-width: 240px;
}

.feeder-detail {
	min-width: 240px;
	width: 30vw;
	height: 50vh;
	display: flex;
	flex-direction: column;
	background-color: $theme-bg;
	// align-items: center;

	.detail-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		height: 100%;
		width: 100%;
		// justify-content: space-between;
		
		.detail-buttons {
			width: 100%;
			display: flex;
			flex-direction: row;
			justify-content: space-around;
			margin-bottom: 10px;
			
			.detail-btn {
				width: 40%;
			}
		}
		
		.detail-text {
			width: 100%;
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;

			.detail-text-title {
				margin-bottom: 10px;
			}

			.detail-text-value {
				font-size: 14px;
			}
		}
	}
}