@use 'src/partials';

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;

	.login-title {
		margin-bottom: 40px;
	}

	.pass-reset {
		margin-top: 20px;
	}
}