@use '@angular/material' as mat;

$theme-bg-dark: mat.get-color-from-palette(mat.$gray-palette, 50);
$theme-bg: mat.get-color-from-palette(mat.$gray-palette, 300);
$theme-bg-light: mat.get-color-from-palette(mat.$gray-palette, 400);

$theme-accent-dark: mat.get-color-from-palette(mat.$gray-palette, 600);
$theme-accent-light: mat.get-color-from-palette(mat.$light-blue-palette, A200);