@use '@angular/material' as mat;

$theme-bg-dark: mat.get-color-from-palette(mat.$blue-grey-palette, 900);
$theme-bg: mat.get-color-from-palette(mat.$blue-grey-palette, 800);
$theme-bg-light: mat.get-color-from-palette(mat.$blue-grey-palette, 700);

$theme-accent-dark: mat.get-color-from-palette(mat.$light-blue-palette, A400);
$theme-accent-light: mat.get-color-from-palette(mat.$light-blue-palette, A200);